{% extends "layouts/base.html" %}

{% block bodyClass %}sub-page{% endblock %}
{% block mainNavClass %}navbar-shrink{% endblock %}

{% block nav %}
	<li>
		<a href="/">Home</a>
	</li>
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<article>
					{% if not data.post %}
						<h2>Invalid Post.</h2>
					{% else %}
						<header class="plain">
							<h1>{{ data.post.title }}</h1>
							<h5>Posted</h5>
							{% if data.post.publishedDate %}
								on {{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
							{% endif %}
							{% if data.post.categories and data.post.categories.length %}
								in
								{% for cat in data.post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.post.categories.length %}, {% endif %}{% endfor %}
											{% endif %}
							{% if data.post.author %}
								by {{ data.post.author.name.first }}
							{% endif %}
						</header>
						<div class="post">
							{{ data.post.content.full|safe }}
						</div>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
