<!doctype html>{% import "mixins/flash-messages.html" as FM %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("blvcknoize") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/dist/common.min.css" type="text/css">
		{% block css %}{% endblock %}

		{% block extraHead %}{% endblock %}
	</head>
	<body id="page-top">
		<nav class="navbar navbar-default navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#page-top">Blvcknoize</a>
	            </div>

	            <div class="collapse navbar-collapse" id="navbar">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden">
	                        <a href="#page-top"></a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#posts">Posts</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#about">About</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#contact">Contact</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>

		{% block main %}{% endblock %}

	    <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-md-4">
	                    <span class="copyright">Copyright &copy; blvcknoize.com 2016</span>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline social-buttons">
	                        <li>
								<a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
	                    </ul>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline quicklinks">
	                        <li>
								<a href="#">Privacy Policy</a>
	                        </li>
	                        <li>
								<a href="#">Terms of Use</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer>

		{% block js %}{% endblock %}
		<script src="/js/dist/common.min.js"></script>
		<script src="/js/dist/agency.min.js"></script>
	</body>
</html>
